<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="logDirectory" value="c:\AppLogs"/>
  <targets>
    <target name="API_Flight_Indonesia" xsi:type="File" fileName="${logDirectory}\API\Flight\Indonesia\${event-properties:item=ServiceMethod}\${event-properties:item=FileNameType}(${shortdate}).txt" layout="${longdate}${newline}${message}${exception:format=tostring}${newline}" />
    <target name="API_Hotel_Expedia" xsi:type="File" fileName="${logDirectory}\API\Hotel\Expedia\${event-properties:item=ServiceMethod}\${event-properties:item=FileNameType}(${shortdate}).txt" layout="${longdate}${newline}${message}${exception:format=tostring}${newline}" />
    <target name="API_Hotel_Agoda" xsi:type="File" fileName="${logDirectory}\API\Hotel\Agoda\${event-properties:item=ServiceMethod}\${event-properties:item=FileNameType}(${shortdate}).txt" layout="${longdate}${newline}${message}${exception:format=tostring}${newline}" />
    <target name="API_Email" xsi:type="File" fileName="${logDirectory}\API\Email\Flight\${event-properties:item=ServiceMethod}\${event-properties:item=FileNameType}(${shortdate}).txt" layout="${longdate}${newline}${message}${exception:format=tostring}${newline}" />
    <target name="GeneralLog" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=message:innerFormat=String:innerExceptionSeparator=#:separator=#}" />
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=message:innerFormat=String:innerExceptionSeparator=#:separator=#}" />
    <target name="CommonLogFile" xsi:type="File" fileName="${basedir}/logs/common/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=message:innerFormat=String:innerExceptionSeparator=#:separator=#}" />
    <target name="FlightLogFile" xsi:type="File" fileName="${basedir}/logs/flight/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=message:innerFormat=String:innerExceptionSeparator=#:separator=#}" />
    <target name="HotelLogFile" xsi:type="File" fileName="${basedir}/logs/hotel/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=message:innerFormat=String:innerExceptionSeparator=#:separator=#}" />
    <target name="GetMainPageDataAsyncFile" xsi:type="File" fileName="${basedir}/logs/display/${date:format=yyyy-MM-dd-HH}.txt" layout="${longdate} | ${logger} | ${event-context:item=SessionID} | ${level} | ${message} ${exception:format=toString}${newline}" />
  </targets>
  <rules>
    <logger name="API.Flight.Indonesia" minlevel="Debug" writeTo="API_Flight_Indonesia" />
    <logger name="API.Hotel.Expedia" minlevel="Debug" writeTo="API_Hotel_Expedia" />
    <logger name="API.Hotel.Agoda" minlevel="Debug" writeTo="API_Hotel_Agoda" />
    <logger name="API.Email" minlevel="Debug" writeTo="API_Email" />
    <logger name="GeneralLog" minlevel="Debug" writeTo="GeneralLog" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="CommonLog" minlevel="Debug" writeTo="CommonLogFile" />
    <logger name="FlightLog" minlevel="Debug" writeTo="FlightLogFile" />
    <logger name="HotelLog" minlevel="Debug" writeTo="HotelLogFile" />
    <logger name="GetMainPageDataAsync" minlevel="Debug" writeTo="GetMainPageDataAsyncFile" />
  </rules>
</nlog>